body {
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#container {
    width: 70%;
    /* padding: 1em; */
    text-align: left;
    border: 2px solid #DDD;
    margin: 0 auto;
    margin-top: 20px;
}

#container h1 {
    font-size: 30px;
}

#cabecera h2{
    background-color: rgba(4, 37, 254, 0.677);
    margin: 0;
    max-width: 100%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    position: relative;
    padding: 10px 0;
}

#cabecera h2 img {
    width: 1.625rem;
    height: 1.625rem;
    padding-right: 1rem;
}

.cabecera__title {
    font-weight: 800;
}

#post {
    padding: 1rem;
}

footer {
    background-color: rgba(4, 37, 254, 0.677);
    text-align: center;
}

footer p {
    margin: 0 auto;
    padding: .625rem 0;
}

.image {
    display: inline-flex;
}

.image_prueba {
    align-items: center;
    width: 50%;
    height: 50%;
}